<div class="adivinar-pokemon-cont">
	@if (pokemon) {
		<h1>¿QUIÉN ES ESTE POKEMÓN?</h1>
		<div>
			<img #pokemonImage id="pokemon-oculto" class="pokemon-oculto" src= "{{ pokemon.src }}" alt = "{{ pokemon.alt }}" />
		</div>
		<div>
			@for (opcion of opciones; track opcion) {
				<button class="opcion" id="opcion1" (click)="elegirRespuesta(opcion)"> {{ opcion }} </button>
			}
		</div>
	} @else if (juegoTerminado) {
		<div>
			<h1>¡HAS GANADO, FELICITACIONES!</h1>
			<button class="boton-jugar" (click)="comenzarJuego()" >VOLVER A JUGAR</button>
		</div>
	} @else {
		<div>
			<button class="boton-jugar" (click)="comenzarJuego()" >JUGAR</button>
		</div>
	}
</div>
